{:kotoba.app/id "cloud.itonami.isic-9312", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreibnctbo2qrr6ie2sneqh6rl2slmzo747kdjsbuhmojxkwqqaubyw4", :kotoba.app/embed-url "ipfs://bafkreibnctbo2qrr6ie2sneqh6rl2slmzo747kdjsbuhmojxkwqqaubyw4", :published {:archive "https://kotobase.net/ipfs/bafkreibnctbo2qrr6ie2sneqh6rl2slmzo747kdjsbuhmojxkwqqaubyw4", :size 8928, :put-status 201, :get-status 200, :at "2026-08-15T13:51:45.804Z"}}
